In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('processed_train_data.csv')
data.head(5)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,2,2,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,1,2,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,2,2,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,2,2,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,2,2,...,0,0,0,0,0,0,0,0,0,3

In [97]:
#X=data.iloc[:,[1,2,3,4,5,6,7,8,9,11]]
X=data.iloc[:,1:-1]
y=data.damage_grade

In [102]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
import numpy as np
#Load boston housing dataset as an example

rf = RandomForestRegressor()
rf.fit(X, y)
print ("Features sorted by their score:")
print (sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), X.columns), 
             reverse=True))

C:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Features sorted by their score:
[(0.1813, 'geo_level_1_id'), (0.133, 'age'), (0.1163, 'geo_level_3_id'), (0.1039, 'geo_level_2_id'), (0.0978, 'area_percentage'), (0.0864, 'has_superstructure_mud_mortar_stone'), (0.0487, 'height_percentage'), (0.0241, 'roof_type'), (0.0228, 'count_families'), (0.0214, 'position'), (0.0194, 'foundation_type'), (0.0169, 'other_floor_type'), (0.0148, 'land_surface_condition'), (0.0147, 'count_floors_pre_eq'), (0.0133, 'ground_floor_type'), (0.0107, 'has_superstructure_stone_flag'), (0.0105, 'has_superstructure_adobe_mud'), (0.0102, 'has_superstructure_timber'), (0.0076, 'plan_configuration'), (0.0062, 'legal_ownership_status'), (0.0062, 'has_secondary_use'), (0.0056, 'has_superstructure_bamboo'), (0.0051, 'has_superstructure_mud_mortar_brick'), (0.0044, 'has_secondary_use_agriculture'), (0.004, 'has_superstructure_cement_mortar_brick'), (0.0031, 'has_superstructure_rc_non_engineered'), (0.0028, 'has_secondary_use_hotel'), (0.0026, 'has_superstructure_other'), (0.0024, 'has_superstructure_cement_mortar_stone'), (0.0011, 'has_secondary_use_rental'), (0.001, 'has_superstructure_rc_engineered'), (0.001, 'has_secondary_use_other'), (0.0004, 'has_secondary_use_industry'), (0.0002, 'has_secondary_use_institution'), (0.0001, 'has_secondary_use_school'), (0.0, 'has_secondary_use_use_police'), (0.0, 'has_secondary_use_health_post'), (0.0, 'has_secondary_use_gov_office')]

In [169]:
#X=data.iloc[:,[1,5,2,3,6,16,7,10,27,13,9,12,8,4,11,17,15]]
X=data.iloc[:,[1,5,2,3,6,16,7,10,27,13,9]]
y=data.damage_grade

In [166]:
from sklearn.metrics import accuracy_score, classification_report
from collections import Counter
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [170]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(max_depth=20,max_features=6,random_state=5,n_estimators=69,
                             criterion='gini')
#model.fit(X_train,y_train)   #Fit or Train Model
model.fit(X,y)
#y_predict=model.predict(X_test) #Predict Model
#Validation Result
#print('\n1. Random Forest Model- Accuracy Score:  '+'{:.2f}'.format(accuracy_score(y_test,y_predict)*100))
#print('\n2. Classification Report:\n',classification_report(y_test,y_predict))
#print('\n3. Test Data Classifications Count:',Counter(y_test))
#print('\n4. Confusion Matrix/CrossTab Info\n\n', pd.crosstab(y_test,y_predict))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=20, max_features=6, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=69,
                       n_jobs=None, oob_score=False, random_state=5, verbose=0,
                       warm_start=False)

In [171]:
test_data=pd.read_csv('processed_test_values.csv')
X_test=test_data.iloc[:,[1,5,2,3,6,16,7,10,27,13,9]]
y_predict=model.predict(X_test)

In [172]:
ans=pd.read_csv('submission_format.csv')
ans.head(5)

   building_id  damage_grade
0       300051             1
1        99355             1
2       890251             1
3       745817             1
4       421793             1

In [173]:
ans.damage_grade=y_predict

In [174]:
ans.head(5)

   building_id  damage_grade
0       300051             3
1        99355             2
2       890251             3
3       745817             1
4       421793             3

In [175]:
ans.to_csv('submission_RF_7.csv',index=False)